<ul ng-controller="MainController as main">








  <li class="col-xs-12">
    <div class="wrap">
    <h2>INSTRUCTIONS</h2>
    <p>Please run on a local simple server such as python -m SimpleHTTPServer in the terminal and navigate to localhost. Eg <span class="bold">http://localhost:8000/</span></p>
    <br>
    <p>Then add ticker after this to navigate to particular stock. 
    Eg. <span class="bold">http://localhost:8000/#/googl</span> for google/alphabet</p>
    <br>
    <p> The site was built using AngularJS and the following libraries:</p>
    <br>
      <p>Chart.js</p>
      <p>Moment.js</p>
      <p>Trunk8</p>
    </div>
  </li>
</ul>