<ul ng-controller="MainController as main">
  <li class="col-sm-6 col-xs-12">
    <div class="wrap">
      <h2>{{ main.all.long_name }}</h2>
      <p class="truncate">{{ main.all.description }}</p>
    </div>
  </li>
  <li class="col-xs-6">
    <div class="wrap">
      <h3>Stock Price</h3>
      <p><span class="large arrow">${{ main.all.price }}</span></p>
    </div>
  </li>
  <li class="col-xs-6">
    <div class="wrap">
      <h3>Ticker</h3>
      <p><span class="large">{{ main.all.ticker }}</span></p>
    </div>
  </li>
  <li class="col-sm-6 col-xs-12">
    <div class="wrap">
      <h3>Key Statistics</h3>
      <p>Market Value: <span class="bold">${{ main.all.market_value/1000 }} B</span></p>
      <p>52 Week High/Low: <span class="high">${{ main.all.fifty_two_week_high }}</span> / <span class="low">${{ main.all.fifty_two_week_low }}</span></p>
      <p>Classification: <span class="bold">{{ main.all.classification }}</span></p>
    </div>
  </li>
  <li class="col-xs-12">
    <div class="wrap">
      <canvas id="price-chart" width="400" height="400"></canvas>
    </div>
  </li>
</ul>